body{
    margin: 0px;
    padding: 0px;
    background-color: #ffd9f8;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 1;
}

div.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    height: 140px;
    overflow: hidden;
}

div.header img {
    display: block;
    width: auto;
}

ul.atas{
    justify-content: center;
    display: flex;
    list-style: none;
    background-color: #EE247B;
    padding: 0px 0px;
    top: 103px;
    position: fixed;
    width: 1280px;
    height: 60px;
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  z-index: 1000;
}


li{
    float:left;
}

li a, .dropbtn{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
    margin-left:auto;
    margin-right: auto;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color:#CDFF30;
    color: #EE247B;
    margin-top: none;
    transition-duration: 0.5s;
}

.drop{
    margin-top: 10px;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FF7ABF;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: #ffd9f8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: #CDFF30;
    color: #EE247B;
    transition: 0.5s;
}

div.ini{
    position: relative;
    top: 200px;
    background-color:#FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 14px;
    border: #CDFF30;
    border-style: dashed;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #EE247B;
    text-align: justify;
}